In [3]:
import pandas as pd

In [20]:
thedate = ['date']
dfelectricalUsage = pd.read_csv("daily_electricity_usage 2.csv",parse_dates=thedate)
dfelectricalUsage.count()

Meter ID          3291258
date              3291258
total daily KW    3291258
dtype: int64

In [31]:
print(dfelectricalUsage.head())  
#setting date column as index column for better lookupolloøopøløolopoplpø--
dfelectricalUsage.set_index('date')
#print(dfelectricalUsage.tail())
#print(dfelectricalUsage.count())
#print(dfelectricalUsage.dtypes)

   Meter ID       date  total daily KW
0      1000 2009-07-14          11.203
1      1000 2009-07-15           8.403
2      1000 2009-07-16           7.225
3      1000 2009-07-17          11.338
4      1000 2009-07-18          11.306

            Meter ID  total daily KW
date
2009-07-14      1000          11.203
2009-07-15      1000           8.403
2009-07-16      1000           7.225
2009-07-17      1000          11.338
2009-07-18      1000          11.306
2009-07-19      1000           2.874
2009-07-20      1000          11.600
2009-07-21      1000           4.610
2009-07-22      1000          12.436
2009-07-23      1000           4.943
2009-07-24      1000           3.675
2009-07-25      1000          11.193
2009-07-26      1000          17.749
2009-07-27      1000          11.076
2009-07-28      1000          10.525
2009-07-29      1000           9.925
2009-07-30      1000           9.935
2009-07-31      1000          17.529
2009-08-01      1000           9.045
2009-08-02      1000           2.406
2009-08-03      1000           5.740
2009-08-04      1000          12.187
2009-08-05      1000           7.627
2009-08-06      1000          10.798
2009-08-07      1000          10.823
2009-08-08      1000           9.022
2009-08-09      1000          10.226
2009-08-10      1000           4.945
2009-08-11      1000          13.178
2009-08-12      1000           5.371
...              ...             ...
2010-09-18      7444          42.010
2010-09-19      7444          37.996
2010-09-20      7444          41.070
2010-09-21      7444          29.537
2010-09-22      7444          35.648
2010-09-23      7444          36.404
2010-09-24      7444          41.964
2010-09-25      7444          48.618
2010-09-26      7444          53.490
2010-09-27      7444          33.097
2010-09-28      7444          42.039
2010-09-29      7444          32.237
2010-09-30      7444          43.917
2010-10-01      7444          29.037
2010-10-02      7444          37.992
2010-10-03      7444          42.176
2010-10-04      7444          35.566
2010-10-05      7444          31.661
2010-10-06      7444          36.933
2010-10-07      7444          27.933
2010-10-08      7444          33.972
2010-10-09      7444          46.451
2010-10-10      7444          27.863
2010-10-11      7444          34.117
2010-10-12      7444          30.024
2010-10-13      7444          32.068
2010-10-14      7444          36.849
2010-10-15      7444          37.185
2010-10-16      7444          36.179
2010-10-17      7444          48.373

[3291258 rows x 2 columns]

In [21]:
#dfelectricalUsage.drop_duplicates()   -- there are no duplicates

In [30]:
df = dfelectricalUsage.groupby('Meter ID').nunique()
print("Total # of cunsumers", df.count())

Total # of cunsumers Meter ID          6435
date              6435
total daily KW    6435
dtype: int64