In [1]:
import pandas as pd

In [99]:
thedate = ['date']
#dfelectricalUsage = pd.read_csv("daily_electricity_usage 2.csv",parse_dates=thedate)
#dfelectricalUsage.count()

dfElectricalUsage = pd.read_csv('daily_electricity_usage.csv',index_col=0,parse_dates=thedate)
print(dfElectricalUsage)

               date  total daily KW
Meter ID
1000     2009-07-14          11.203
1000     2009-07-15           8.403
1000     2009-07-16           7.225
1000     2009-07-17          11.338
1000     2009-07-18          11.306
1000     2009-07-19           2.874
1000     2009-07-20          11.600
1000     2009-07-21           4.610
1000     2009-07-22          12.436
1000     2009-07-23           4.943
1000     2009-07-24           3.675
1000     2009-07-25          11.193
1000     2009-07-26          17.749
1000     2009-07-27          11.076
1000     2009-07-28          10.525
1000     2009-07-29           9.925
1000     2009-07-30           9.935
1000     2009-07-31          17.529
1000     2009-08-01           9.045
1000     2009-08-02           2.406
1000     2009-08-03           5.740
1000     2009-08-04          12.187
1000     2009-08-05           7.627
1000     2009-08-06          10.798
1000     2009-08-07          10.823
1000     2009-08-08           9.022
1000     2009-08-09          10.226
1000     2009-08-10           4.945
1000     2009-08-11          13.178
1000     2009-08-12           5.371
...             ...             ...
7444     2010-09-18          42.010
7444     2010-09-19          37.996
7444     2010-09-20          41.070
7444     2010-09-21          29.537
7444     2010-09-22          35.648
7444     2010-09-23          36.404
7444     2010-09-24          41.964
7444     2010-09-25          48.618
7444     2010-09-26          53.490
7444     2010-09-27          33.097
7444     2010-09-28          42.039
7444     2010-09-29          32.237
7444     2010-09-30          43.917
7444     2010-10-01          29.037
7444     2010-10-02          37.992
7444     2010-10-03          42.176
7444     2010-10-04          35.566
7444     2010-10-05          31.661
7444     2010-10-06          36.933
7444     2010-10-07          27.933
7444     2010-10-08          33.972
7444     2010-10-09          46.451
7444     2010-10-10          27.863
7444     2010-10-11          34.117
7444     2010-10-12          30.024
7444     2010-10-13          32.068
7444     2010-10-14          36.849
7444     2010-10-15          37.185
7444     2010-10-16          36.179
7444     2010-10-17          48.373

[3291258 rows x 2 columns]

/Users/funkyapps/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [100]:
#print(dfelectricalUsage.head())  
#setting date column as index column for better lookupolloøopøløolopoplpø--
#dfelectricalUsage.set_index('date')
#print(dfelectricalUsage.tail())
#print(dfelectricalUsage.count())
#print(dfelectricalUsage.dtypes)

In [101]:
#dfelectricalUsage.drop_duplicates()   -- there are no duplicates

In [119]:
df = dfElectricalUsage.groupby('Meter ID').nunique()
print("Total # of cunsumers", df.count())

Total # of cunsumers date              6435
total daily KW    6435
dtype: int64

In [131]:
data_fix = pd.DataFrame({'Meter ID':range(1000,6435,1)})
data_fix

      Meter ID
0         1000
1         1001
2         1002
3         1003
4         1004
5         1005
6         1006
7         1007
8         1008
9         1009
10        1010
11        1011
12        1012
13        1013
14        1014
15        1015
16        1016
17        1017
18        1018
19        1019
20        1020
21        1021
22        1022
23        1023
24        1024
25        1025
26        1026
27        1027
28        1028
29        1029
...        ...
5405      6405
5406      6406
5407      6407
5408      6408
5409      6409
5410      6410
5411      6411
5412      6412
5413      6413
5414      6414
5415      6415
5416      6416
5417      6417
5418      6418
5419      6419
5420      6420
5421      6421
5422      6422
5423      6423
5424      6424
5425      6425
5426      6426
5427      6427
5428      6428
5429      6429
5430      6430
5431      6431
5432      6432
5433      6433
5434      6434

[5435 rows x 1 columns]

In [143]:
#mean per meter ID
dfStatFeature1 = dfElectricalUsage.groupby('Meter ID')['total daily KW'].mean()
data_fix['Avg KW'] = dfStatFeature1
#print(dfStatFeature1.head())

#Total per meter ID
dfStatFeature2 = dfElectricalUsage.groupby('Meter ID')['total daily KW'].sum()
#print(dfStatFeature2.head())
data_fix['total KW'] = dfStatFeature2

#Total per meter ID
dfStatFeature3 = dfElectricalUsage.groupby('Meter ID')['total daily KW'].max()
data_fix['Max KW'] = dfStatFeature3
#print(dfStatFeature3.head())

#Total per meter ID
dfStatFeature4 = dfElectricalUsage.groupby('Meter ID')['total daily KW'].min()
data_fix['Min KW'] = dfStatFeature4
#print(dfStatFeature4.head())
print(data_fix.tail())

      Meter ID   total KW   Max KW   Min KW      Avg KW
5430      6430  12389.286   88.886    6.581   23.114340
5431      6431  15738.818  568.207  163.326  491.838062
5432      6432   6742.835   35.006    1.759   12.603430
5433      6433  19567.792   75.694    8.747   36.507075
5434      6434  12681.422   47.170    9.194   23.659369

## Adding calender features to dataset ##

In [108]:
from datetime import date
import calendar
my_date = date.today()
calendar.day_name[my_date.weekday()]

'Sunday'

In [19]:
column_1 = dfElectricalUsage.iloc[:,0]

dfElectricalUsage = pd.DataFrame({"date":column_1,
                               "year": column_1.dt.year,
                               "month": column_1.dt.month,
                               "day": column_1.dt.day,
                               "dayofyear": column_1.dt.dayofyear,
                               "weekofyear": column_1.dt.weekofyear,
                               "weekday": column_1.dt.weekday,
                               "quarter": column_1.dt.quarter,
                               "DailyUsage":dfElectricalUsage['total daily KW'] })

print(dfElectricalUsage)

               date  year  month  day  dayofyear  weekofyear  weekday  \
Meter ID
1000     2009-07-14  2009      7   14        195          29        1
1000     2009-07-15  2009      7   15        196          29        2
1000     2009-07-16  2009      7   16        197          29        3
1000     2009-07-17  2009      7   17        198          29        4
1000     2009-07-18  2009      7   18        199          29        5
1000     2009-07-19  2009      7   19        200          29        6
1000     2009-07-20  2009      7   20        201          30        0
1000     2009-07-21  2009      7   21        202          30        1
1000     2009-07-22  2009      7   22        203          30        2
1000     2009-07-23  2009      7   23        204          30        3
1000     2009-07-24  2009      7   24        205          30        4
1000     2009-07-25  2009      7   25        206          30        5
1000     2009-07-26  2009      7   26        207          30        6
1000     2009-07-27  2009      7   27        208          31        0
1000     2009-07-28  2009      7   28        209          31        1
1000     2009-07-29  2009      7   29        210          31        2
1000     2009-07-30  2009      7   30        211          31        3
1000     2009-07-31  2009      7   31        212          31        4
1000     2009-08-01  2009      8    1        213          31        5
1000     2009-08-02  2009      8    2        214          31        6
1000     2009-08-03  2009      8    3        215          32        0
1000     2009-08-04  2009      8    4        216          32        1
1000     2009-08-05  2009      8    5        217          32        2
1000     2009-08-06  2009      8    6        218          32        3
1000     2009-08-07  2009      8    7        219          32        4
1000     2009-08-08  2009      8    8        220          32        5
1000     2009-08-09  2009      8    9        221          32        6
1000     2009-08-10  2009      8   10        222          33        0
1000     2009-08-11  2009      8   11        223          33        1
1000     2009-08-12  2009      8   12        224          33        2
...             ...   ...    ...  ...        ...         ...      ...
7444     2010-09-18  2010      9   18        261          37        5
7444     2010-09-19  2010      9   19        262          37        6
7444     2010-09-20  2010      9   20        263          38        0
7444     2010-09-21  2010      9   21        264          38        1
7444     2010-09-22  2010      9   22        265          38        2
7444     2010-09-23  2010      9   23        266          38        3
7444     2010-09-24  2010      9   24        267          38        4
7444     2010-09-25  2010      9   25        268          38        5
7444     2010-09-26  2010      9   26        269          38        6
7444     2010-09-27  2010      9   27        270          39        0
7444     2010-09-28  2010      9   28        271          39        1
7444     2010-09-29  2010      9   29        272          39        2
7444     2010-09-30  2010      9   30        273          39        3
7444     2010-10-01  2010     10    1        274          39        4
7444     2010-10-02  2010     10    2        275          39        5
7444     2010-10-03  2010     10    3        276          39        6
7444     2010-10-04  2010     10    4        277          40        0
7444     2010-10-05  2010     10    5        278          40        1
7444     2010-10-06  2010     10    6        279          40        2
7444     2010-10-07  2010     10    7        280          40        3
7444     2010-10-08  2010     10    8        281          40        4
7444     2010-10-09  2010     10    9        282          40        5
7444     2010-10-10  2010     10   10        283          40        6
7444     2010-10-11  2010     10   11        284          41        0
7444     2010-10-12  2010     10   12        285          41        1
7444     2010-10-13  2010     10   13        286          41        2
7444     2010-10-14  2010     10   14        287          41        3
7444     2010-10-15  2010     10   15        288          41        4
7444     2010-10-16  2010     10   16        289          41        5
7444     2010-10-17  2010     10   17        290          41        6

          quarter  DailyUsage
Meter ID
1000            3      11.203
1000            3       8.403
1000            3       7.225
1000            3      11.338
1000            3      11.306
1000            3       2.874
1000            3      11.600
1000            3       4.610
1000            3      12.436
1000            3       4.943
1000            3       3.675
1000            3      11.193
1000            3      17.749
1000            3      11.076
1000            3      10.525
1000            3       9.925
1000            3       9.935
1000            3      17.529
1000            3       9.045
1000            3       2.406
1000            3       5.740
1000            3      12.187
1000            3       7.627
1000            3      10.798
1000            3      10.823
1000            3       9.022
1000            3      10.226
1000            3       4.945
1000            3      13.178
1000            3       5.371
...           ...         ...
7444            3      42.010
7444            3      37.996
7444            3      41.070
7444            3      29.537
7444            3      35.648
7444            3      36.404
7444            3      41.964
7444            3      48.618
7444            3      53.490
7444            3      33.097
7444            3      42.039
7444            3      32.237
7444            3      43.917
7444            4      29.037
7444            4      37.992
7444            4      42.176
7444            4      35.566
7444            4      31.661
7444            4      36.933
7444            4      27.933
7444            4      33.972
7444            4      46.451
7444            4      27.863
7444            4      34.117
7444            4      30.024
7444            4      32.068
7444            4      36.849
7444            4      37.185
7444            4      36.179
7444            4      48.373

[3291258 rows x 9 columns]

In [26]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
cal = calendar()
holidays = cal.holidays(start='2009-07-14', end='2010-10-17')
dfElectricalUsage['Holiday'] = dfElectricalUsage['date'].isin(holidays)
#print(dfelectricalUsage)
print (dfElectricalUsage[dfElectricalUsage['Holiday']== True])

               date  year  month  day  dayofyear  weekofyear  weekday  \
Meter ID
1000     2009-09-07  2009      9    7        250          37        0
1000     2009-10-12  2009     10   12        285          42        0
1000     2009-11-11  2009     11   11        315          46        2
1000     2009-11-26  2009     11   26        330          48        3
1000     2009-12-25  2009     12   25        359          52        4
1000     2010-01-01  2010      1    1          1          53        4
1000     2010-01-18  2010      1   18         18           3        0
1000     2010-02-15  2010      2   15         46           7        0
1000     2010-05-31  2010      5   31        151          22        0
1000     2010-07-05  2010      7    5        186          27        0
1000     2010-09-06  2010      9    6        249          36        0
1000     2010-10-11  2010     10   11        284          41        0
1001     2009-09-07  2009      9    7        250          37        0
1001     2009-10-12  2009     10   12        285          42        0
1001     2009-11-11  2009     11   11        315          46        2
1001     2009-11-26  2009     11   26        330          48        3
1001     2009-12-25  2009     12   25        359          52        4
1001     2010-01-01  2010      1    1          1          53        4
1001     2010-01-18  2010      1   18         18           3        0
1001     2010-02-15  2010      2   15         46           7        0
1001     2010-05-31  2010      5   31        151          22        0
1001     2010-07-05  2010      7    5        186          27        0
1001     2010-09-06  2010      9    6        249          36        0
1001     2010-10-11  2010     10   11        284          41        0
1002     2009-09-07  2009      9    7        250          37        0
1002     2009-10-12  2009     10   12        285          42        0
1002     2009-11-11  2009     11   11        315          46        2
1002     2009-11-26  2009     11   26        330          48        3
1002     2009-12-25  2009     12   25        359          52        4
1002     2010-01-01  2010      1    1          1          53        4
...             ...   ...    ...  ...        ...         ...      ...
7442     2010-01-18  2010      1   18         18           3        0
7442     2010-02-15  2010      2   15         46           7        0
7442     2010-05-31  2010      5   31        151          22        0
7442     2010-07-05  2010      7    5        186          27        0
7442     2010-09-06  2010      9    6        249          36        0
7442     2010-10-11  2010     10   11        284          41        0
7443     2009-09-07  2009      9    7        250          37        0
7443     2009-10-12  2009     10   12        285          42        0
7443     2009-11-11  2009     11   11        315          46        2
7443     2009-11-26  2009     11   26        330          48        3
7443     2009-12-25  2009     12   25        359          52        4
7443     2010-01-01  2010      1    1          1          53        4
7443     2010-01-18  2010      1   18         18           3        0
7443     2010-02-15  2010      2   15         46           7        0
7443     2010-05-31  2010      5   31        151          22        0
7443     2010-07-05  2010      7    5        186          27        0
7443     2010-09-06  2010      9    6        249          36        0
7443     2010-10-11  2010     10   11        284          41        0
7444     2009-09-07  2009      9    7        250          37        0
7444     2009-10-12  2009     10   12        285          42        0
7444     2009-11-11  2009     11   11        315          46        2
7444     2009-11-26  2009     11   26        330          48        3
7444     2009-12-25  2009     12   25        359          52        4
7444     2010-01-01  2010      1    1          1          53        4
7444     2010-01-18  2010      1   18         18           3        0
7444     2010-02-15  2010      2   15         46           7        0
7444     2010-05-31  2010      5   31        151          22        0
7444     2010-07-05  2010      7    5        186          27        0
7444     2010-09-06  2010      9    6        249          36        0
7444     2010-10-11  2010     10   11        284          41        0

          quarter  DailyUsage  Holiday
Meter ID
1000            3       2.284     True
1000            4      12.972     True
1000            4      10.199     True
1000            4       4.822     True
1000            4      34.964     True
1000            1      17.159     True
1000            1      16.529     True
1000            1      10.204     True
1000            2       6.451     True
1000            3       6.184     True
1000            3       7.254     True
1000            4       8.294     True
1001            3       6.016     True
1001            4       6.373     True
1001            4       6.613     True
1001            4      33.117     True
1001            4       8.344     True
1001            1       7.378     True
1001            1       7.323     True
1001            1       3.997     True
1001            2       4.018     True
1001            3       4.028     True
1001            3       4.059     True
1001            4       4.020     True
1002            3      11.897     True
1002            4      12.097     True
1002            4      14.715     True
1002            4      12.263     True
1002            4       6.302     True
1002            1      12.042     True
...           ...         ...      ...
7442            1      42.779     True
7442            1      40.910     True
7442            2      26.408     True
7442            3      29.569     True
7442            3      33.139     True
7442            4      41.140     True
7443            3       7.407     True
7443            4       6.908     True
7443            4      10.582     True
7443            4      11.498     True
7443            4       9.002     True
7443            1      12.152     True
7443            1      11.216     True
7443            1      11.271     True
7443            2       8.450     True
7443            3       6.390     True
7443            3       6.486     True
7443            4       6.958     True
7444            3      40.310     True
7444            4      38.591     True
7444            4      52.114     True
7444            4      38.090     True
7444            4      78.122     True
7444            1      38.815     True
7444            1      52.593     True
7444            1      39.735     True
7444            2      31.081     True
7444            3      44.789     True
7444            3      47.434     True
7444            4      34.117     True

[74287 rows x 10 columns]